/* Algemene style sheet */

html, head, body, div, h1, p {
    margin: 0;padding: 0;
    font-family: monospace;

}
html {background-color: black}

.outline {/* Rectangle 8 */
    position: absolute;
    width: 97%;
    height: 97%;
    left: 2%;
    top: 2%;
    
    background: #F8C232;
    border-radius: 20px;
}

.wrapper {/*wrapper voor vorm */
    width: 100%;
}

.logo {/* powerchainger-logo 2 */

    position: absolute;
    width: 15%;
    max-width: 200px;
    height: 10%;
    left: 3%;
    top: 0;
    margin-top: 2.5em;
}

.top{/* Rectangle 10 */


    position: relative;
    width: 75%;
    min-width: 0px;
    left: 20%;
    height: 7em;

    top: 3%;

    background: #F4F4F4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.rect1{/* Rectangle 10 */


    position: absolute;
    width: 35%;
    height: 50%;
    left: 10%;
    top: 20%;
    
    background: #F4F4F4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

}

.rect2{/* Rectangle 10 */


    position: absolute;
    width: 35%;
    height: 50%;
    left: 50%;
    top: 20%;
    
    background: #F4F4F4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.rect3{/* Rectangle 10 */


    position: absolute;
    width: 50%;
    height: auto;
    left: 25%;
    top: 75%;
    
    background: #F4F4F4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}