{%extends "public/templates/iot_template.html"%}


{%block main%}


<div class="flexboxgroep">
    <div class="bovenblokgroep">
    <div class="verbruikperdatum1">
      <p class="home">verbruikperdatum</p>
      <div class="grafiekblok">
        <div class="button-container">
          <button id="btnHour" class="selected">Uur</button>
          <button id="btnDay">Dag</button>
          <button id="btnWeek">Week</button>
          <button id="btnMonth">Maand</button>
        </div>
        <div class="chart-container">
          <canvas id="Grafieken"></canvas>
        </div>
      </div>


      </div>
      <div class="huidigverbruik1">
      <p class="home">huidigverbruik</p>
      </div>

      <div class="bespaard1">
        <p class="home">bespaard</p>
      </div>
      <div class="ecologischevoetafdruk1">
        <p class="home">ecologischevoetafdruk</p>
      </div>

        <div class="tips1">
          <p class="home">tips</p>
       </div>
    </div>
    <div class="rechtsblokgroep">
        <div class="sociaal1">
          <p class="home">sociaal</p>

          <div id="verbruikTable" class="vriendentabelklein"></div>
        </div>
    </div>
</div>


{%endblock%}