{%extends "public/templates/iot_template.html"%}


{%block main%}


    <div class="verbruikperdatum">
        <p>verbruikperdatum</p>

    </div>


    <div class="bespaard">
        <p>bespaard</p>

    </div>


    <div class="sociaal">
        <p>sociaal</p>

    </div>


    <div class="huidigverbruik">
        <p>huidigverbruik</p>

    </div>


    <div class="ecologischevoetafdruk">
        <p>ecologischevoetafdruk</p>

    </div>


    <div class="tips">
        <p>tips</p>
        
    </div>


{%endblock%}

