{%extends "public/templates/iot_template.html"%}


{%block main%}


    <div class="verbruikperdatum">
        <p class="home">verbruikperdatum</p>
    <div class="grafiekblok">
        <div class="button-container">
            <button id="btnHour" class="selected">Uur</button>
            <button id="btnDay">Dag</button>
            <button id="btnWeek">Week</button>
            <button id="btnMonth">Maand</button>
        </div>
        <div class="chart-container">
            <canvas id="Grafieken"></canvas>
        </div>
    </div>
    </div>

    <div class="bespaard">
        <p class="home">bespaard</p>
    </div>


    <div class="sociaal">
        <p class="home">sociaal</p>
    </div>


    <div class="huidigverbruik">
        <p class="home">huidigverbruik</p>
        <p id="huidig_verbruik">Loading...</p>
    </div>


    <div class="ecologischevoetafdruk">
        <p class="home">ecologischevoetafdruk</p>
    </div>


    <div class="tips">
        <p class="home">tips</p>
    </div>


{%endblock%}