{%extends "public/templates/iot_template.html"%}

{% block main %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheettest.css') }}">
{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
</div>
{% endfor %}


<form id="form" method="POST" action="/huisconfig">
    <h2>Form 2</h2>
    {{ form.hidden_tag() }}
    <div class="mb-2">
        {{ form.woonplaats.label(class="form-label") }}
        {{ form.woonplaats(class="form-control") }}
    </div>
    <div class="mb-2">
        {{ form.huisnummer.label(class="form-label") }}
        {{ form.huisnummer(class="form-control") }}
    </div>
    <div class="mb-2">
        {{ form.toevoeging.label(class="form-label") }}
        {{ form.toevoeging(class="form-control") }}
    </div>
    <div class="mb-2">
        {{ form.straat.label(class="form-label") }}
        {{ form.straat(class="form-control") }}
    </div>
    <div class="mb-2">
        {{ form.postcode.label(class="form-label") }}
        {{ form.postcode(class="form-control") }}
    </div>

    <!-- Include the KamerForm fields within the same form -->
    <div class="mb-2">
        {{ kamer_form.huisnummer.label(class="form-label") }}
        {{ kamer_form.huisnummer(class="form-control") }}
    </div>
    <div class="mb-2">
        {{ kamer_form.kamernaam.label(class="form-label") }}
        {{ kamer_form.kamernaam(class="form-control") }}
    </div>

    <input type="submit" value="Submit All Steps">
</form>




</body>




{% endblock %}