{%extends "public/templates/iot_template.html"%}


{%block main%}



    <div class="outlinelogin">

        <div class="inlineregistratie">
            
            <p class="home">registratie</p>

            <div class="buttoninlog">
                <p class="home">registreren</p>
            </div>

        </div>

        <div class="inlinelogin">
            
            <p class="home">login</p>

            <div class="buttoninlog">
                <p class="home">login</p>
            </div>

        </div>
    </div>



{%endblock%}

