{% extends "public/templates/iot_template.html" %}

{% block main %}

<div class="outlinelogin">


    <div class="container mt-2">
        <div class="row justify-content-md-center">
            <div class="col col-lg-3 col-md-8 col-sm-10">
                <form method="POST">
                    {{ form.hidden_tag() }}
                <div class="mb-2">
                    {{ form.email.label(class="form-label") }} 
                    {{ form.email(class="form-control") }}
                </div>
                <div class="mb-2">
                    {{ form.password.label(class="form-label") }} 
                    {{ form.password( class="form-control") }}
                    </div>
                    {{ form.submit(class="btn btn-primary") }}
                </form>

                
            </div>
    
        </div>
        
    </div>
</div>

{% endblock %}