{% extends "public/templates/iot_template.html" %}

{% block main %}


<div class="formy-group">
    <form class="formy" method="POST">
      {{ form.hidden_tag() }}
      <div class="formy-input">
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control") }}
      </div>
      <div class="formy-input">
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
      </div>
      {{ form.submit(class="form-submit") }}
    </form>
  </div>
{% endblock %}