{%extends "public/templates/iot_template.html"%}


{%block main%}
              <div class="rect1">
                <h1 style=text-align:center;>Huizen</h1>
                <h3 style=text-align:center;>Lorem ipsum dolor sit amet</h3>
            </div>
            <div class="rect2">
                <h1 style=text-align:center;>Kamers</h1>
                <h3 style=text-align:center;>Lorem ipsum dolor sit amet</h3>
            </div>
            <div class="rect3">
                <h1 style=text-align:center;>Toevoegen / Verwijderen</h1>
            </div>
{%endblock%}