<!DOCTYPE html>
<html>
<head>
  <title>Search Results</title>
</head>
<body>
  {% if results %}
    <h3>gebruikersnamen:</h3>
    <table>
      <tr>
        {% for column in columns %}
          <th>{{ column }}</th>
        {% endfor %}
      </tr>
      {% for result in results %}
        <tr>
          {% for value in result %}
            <td>{{ value }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <div>No results found.</div>
  {% endif %}
</body>
</html>