<!DOCTYPE html>
<html>
<head>
  <title>Search Results</title>
</head>
<body>
  {% if results %}
    <h3>Gebruikersnamen:</h3>
    <form id="selectUsersForm" action="/process_users" method="POST">
      <table>
        <tr>
          <th>Select</th>
          {% for column in columns %}
            <th>{{ column }}</th>
          {% endfor %}
        </tr>
        {% for result in results %}
          <tr>
            <td><input type="checkbox" name="userID" value="{{ result[1] }}"></td>
            {% for value in result %}
              <td>{{ value }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
      <input type="submit" value="Process Selected Users">
    </form>
  {% else %}
    <div>No results found.</div>
  {% endif %}
</body>
</html>