/* BASE HTML */

html, head, body, div, h1, p {
    margin: 0;padding: 0;
    font-family: monospace;

}

body {
    font-size: 14px;
}


.outline {/* Rectangle 8 */

    position: absolute;
    width: 97%;
    height: 97%;
    left: 1.5%;
    top: 2%;
    right: 2%;
    margin: auto;
    bottom: 2%;
    
    background: #F8C232;
    border-radius: 20px;
}

.logo {   
    position: relative;
    width: 10%;
    max-width: 200px;
    height: 10%;
    left: 3%;
    top: -3%;
    margin-top: 2.5em;
}

.logo1 {
    left: 10%; 
}


.searchbar{

    position: relative;
    width: 70%;
    height: 35%;
    left: 26%;
    top: -63%;
    
    background: #F4F4F4;
    border: 0.5px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.searchbarbox{/* Rectangle 18 */

    position: relative;
    width: 29%;
    height: 7%;
    left: 55%;
    top: -18%;
    
    background: #F4F4F4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;   

}


.top{/* Rectangle 10 */

    position: relative;
    width: 39%;
    height: 7%;
    left: 15%;
    top: -11%;
    right: 30%;

    background: #F4F4F4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.inlog{/* Rectangle 18 */

    position: relative;
    width: 13%;
    height: 7%;
    left: 85%;
    top: -27%;
    
    background: #F4F4F4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;   

}

li {
    float: left;
}

li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
}

#navbarNav a:hover {
    background-color: #e3e3e3c5;
}

#navbarNav ul
{
	font-size: 1.4vw;

}

#navbarNav ul li
{
    display: inline;
	color:rgb(0, 0, 0);
}

#navbarNav li:not(:first-child):before {
    content: " | ";
}

.search{
    
    display: inline-block;
    color: black;
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
    font-size: 1.4vmax;
}


/* BASE HTML */
/* -------------------------------------------------------------*/
/* DIV'S */

.verbruikperdatum {
    position: relative;
    width: 49%;
    height: 49%;
    left: 2%;
    top: -24%;

    background: #F4F4F4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.bespaard{
    position: relative;
    width: 25%;
    height: 33%;
    left: 52%;
    top: -73%;

    background: #F4F4F4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.sociaal {
    position: relative;
    width: 20%;
    height: 84%;
    left: 78%;
    top: -106%;

    background: #F4F4F4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;    
}

.huidigverbruik{
    position: relative;
    width: 25%;
    height: 33%;
    left: 2%;
    top: -139%;

    background: #F4F4F4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-size: 250%;
    text-align: center;
}

.ecologischevoetafdruk{
    position: relative;
    width: 23%;
    height: 33%;
    left: 28%;
    top: -172%;

    background: #F4F4F4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.tips{
    position: relative;
    width: 25%;
    height: 49%;
    left: 52%;
    top: -221%;

    background: #F4F4F4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

p.home {
    text-align: center;
    color: black;
    padding: 25px;
    text-decoration: none;
    font-size: 1.4vmax;
}

/* DIV'S */
/* -------------------------------------------------------------*/
/* COMPETITIE */


.sociaal2 {
    position: relative;
    width: 20%;
    height: 84%;
    left: 78%;
    top: -192%;
    
    background: #F4F4F4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    text-align: center;
  }

.huizen{
    position: relative;
    width: 29%;
    height: 84%;
    left: 48%;
    top: -24%;
    
    background: #F4F4F4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.kamers{
    position: relative;
    width: 45%;
    height: 84%;
    left: 2%;
    top: -108%;

    background: #F4F4F4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

p.competitie{
    text-align: center;
    color: black;
    padding: 25px;
    text-decoration: none;
    font-size: 1.4vmax;
}


/* COMPETITIE */
/* -------------------------------------------------------------*/
/* LOGIN */


.outlinelogin{
    position: relative;
    width: 96%;
    height: 84%;
    left: 2%;
    top: -24%;

    background: #FFDE8D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.inlinelogin{
    position: relative;
    width: 35%;
    height: 75%;
    left: 13%;
    top: -65%;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.inlineregistratie{
    position: relative;
    width: 35%;
    height: 75%;
    left: 53%;
    top: 10%;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

p.home {
    text-align: center;
    color: black;
    padding: 25px;
    text-decoration: none;
    font-size: 1.4vmax;
}


/* LOGIN */
/* -------------------------------------------------------------*/
/* GRAFIEK */



div.buttoninlog {
    position: relative;
    width: 40%;
    height: 9%;
    left: 30%;
    top: 70%;

    background: #00D084;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}



.chart-container {
    flex: 1;
    height: 26em /* Adjust the height as needed */
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.button-container button {
    margin: 7px 0;
    margin-right: 2em;
    background-color: #F8C232;
    border-radius: 0%;
    border: none;
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: monospace;
    padding: 20px;
    text-decoration: none;
    font-size: 1vmax;
}

.button-container button:hover {
    background-color: #e0b231;
}
.grafiekblok {
    display: flex;
}

input[type=submit] {
    position: relative;
    width: 40%;
    /* height: 9%;
    left: 30%;
    top: 70%;  */

    background: #00D084;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50em;
    height: 60em;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 9999;
  }

  /* Styles for the yellow bar */
  .popup .bar {
    background-color: #FFDE8D;
    padding: 1em;
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 1.2vw;
    font-family: monospace;
  }

  /* Styles for the close button */
  .popup .close-button {
    position: absolute;
    top: 1em;
    right: 1em;
    cursor: pointer;
    font-size: 1.2vw;
    
  }

  .vriendentabel {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.4vw;
  }

  .vriend-toevoeg-button{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.vriend-toevoeg-button button {
    margin: 7px 0;
    margin-right: 2em;
    background-color: #F8C232;
    border-radius: 0%;
    border: none;
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: monospace;
    padding: 20px;
    text-decoration: none;
    font-size: 1vmax;
}

.vriend-toevoeg-button button:hover {
    background-color: #e0b231;
}