/* Algemene style sheet */

html, head, body, div, h1, p {
    margin: 0;padding: 0;
    font-family: monospace;

}

body {
    font-size: 14px;
}

.outline {/* Rectangle 8 */

    position: absolute;
    width: 97%;
    height: 97%;
    left: 1.5%;
    top: 2%;
    right: 2%;
    margin: auto;
    bottom: 2%;
    
    background: #F8C232;
    border-radius: 20px;
}

.logo {   
    position: relative;
    width: 10%;
    max-width: 200px;
    height: 10%;
    left: 3%;
    top: -3%;
    margin-top: 2.5em;
}

.logo1 {
    left: 10%; 
}


.searchbar{

    position: relative;
    width: 70%;
    height: 35%;
    left: 26%;
    top: -63%;
    
    background: #F4F4F4;
    border: 0.5px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.searchbarbox{/* Rectangle 18 */

    position: relative;
    width: 29%;
    height: 7%;
    left: 55%;
    top: -18%;
    
    background: #F4F4F4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;   

}


.top{/* Rectangle 10 */

    position: relative;
    width: 39%;
    height: 7%;
    left: 15%;
    top: -11%;
    right: 30%;

    background: #F4F4F4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.inlog{/* Rectangle 18 */

    position: relative;
    width: 13%;
    height: 7%;
    left: 85%;
    top: -27%;
    
    background: #F4F4F4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;   

}


--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------


li {
    float: left;
}

li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
}

#navbarNav a:hover {
    background-color: #e3e3e3c5;
}

#navbarNav ul
{
	font-size: 1.6em;
}

#navbarNav ul li
{
    display: inline;
	color:rgb(0, 0, 0);
}

#navbarNav li:not(:first-child):before {
    content: " | ";
}

.search{
    
    display: inline-block;
    color: black;
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
    font-size: 1.6em;

}

  
  .container:before {
    content: '';
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0 0 0 7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 0 7px rgba(0,0,0,0.75);
    box-shadow: 0 0 0 20px #F8C232;
  /*   box-shadow: 0px 0px 61px 6px rgba(0,0,0,0.68); */
    pointer-events: none;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 35px;
  }