/* BASE HTML */



body {
    font-size: 14px;
}


.outline {/* Rectangle 8 */

    position: absolute;
    width: 97%;
    height: 97%;
    left: 1.5%;
    top: 2%;
    right: 2%;
    margin: auto;
    bottom: 2%;
    
    background: #F8C232;
    border-radius: 20px;
}

.logo {   
    position: relative;
    width: 10%;
    max-width: 200px;
    height: 10%;
    left: 3%;
    top: -3%;
    margin-top: 2.5em;
}

.logo1 {
    left: 10%; 
}


.searchbar{

    position: relative;
    width: 70%;
    height: 35%;
    left: 26%;
    top: -63%;
    
    background: #F4F4F4;
    border: 0.5px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.loggenbox{/* Rectangle 18 */
    display: flex;
    position: relative;
    width: 29%;
    height: 7%;
    left: 30em;
    top: -11.4em;
    
    background: #F4F4F4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;   
}
.search{
    flex-basis: auto;
    color: black;
    text-decoration: none;
    font-size: 1.4vmax;
}

.top{/* Rectangle 10 */

    position: relative;
    width: 39%;
    height: 7%;
    left: 15%;
    top: -11%;
    right: 30%;

    background: #F4F4F4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.inlog{/* Rectangle 18 */

    position: relative;
    width: 13%;
    height: 7%;
    left: 85%;
    top: -27%;
    
    background: #F4F4F4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;   

}

li {
    float: left;
}

li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
}

#navbarNav a:hover {
    background-color: #e3e3e3c5;
}

#navbarNav ul
{
	font-size: 1.4vw;

}

#navbarNav ul li
{
    display: inline;
	color:rgb(0, 0, 0);
}

#navbarNav li:not(:first-child):before {
    content: " | ";
}




/* BASE HTML */
/* -------------------------------------------------------------*/
/* DIV'S */



.bespaard{
    position: relative;
    width: 25%;
    height: 33%;
    left: 52%;
    top: -73%;

    background: #F4F4F4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.sociaal {
    position: relative;
    width: 20%;
    height: 84%;
    left: 78%;
    top: -106%;

    background: #F4F4F4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;    
}

.huidigverbruik{
    position: relative;
    width: 25%;
    height: 33%;
    left: 2%;
    top: -139%;

    background: #F4F4F4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-size: 250%;
    text-align: center;
}

.ecologischevoetafdruk{
    position: relative;
    width: 23%;
    height: 33%;
    left: 28%;
    top: -172%;

    background: #F4F4F4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-size: 250%;
    text-align: center;
}

.tips{
    position: relative;
    width: 25%;
    height: 49%;
    left: 52%;
    top: -221%;

    background: #F4F4F4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

p.home {
    text-align: center;
    color: black;
    padding: 25px;
    text-decoration: none;
    font-size: 1.4vmax;
}

/* DIV'S */
/* -------------------------------------------------------------*/
/* COMPETITIE */


.sociaal2 {
    position: relative;
    width: 20%;
    height: 84%;
    left: 78%;
    top: -192%;
    
    background: #F4F4F4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    text-align: center;
  }

.huizen{
    position: relative;
    width: 29%;
    height: 84%;
    left: 48%;
    top: -24%;
    
    background: #F4F4F4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.kamers{
    position: relative;
    width: 45%;
    height: 84%;
    left: 2%;
    top: -108%;

    background: #F4F4F4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

p.competitie{
    text-align: center;
    color: black;
    padding: 25px;
    text-decoration: none;
    font-size: 1.4vmax;
}


/* COMPETITIE */
/* -------------------------------------------------------------*/
/* LOGIN */


.outlinelogin{
    position: relative;
    width: 96%;
    height: 84%;
    left: 2%;
    top: -24%;

    background: #FFDE8D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.inlinelogin{
    position: relative;
    width: 35%;
    height: 75%;
    left: 13%;
    top: -65%;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.inlineregistratie{
    position: relative;
    width: 35%;
    height: 75%;
    left: 53%;
    top: 10%;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}



/* LOGIN */
/* -------------------------------------------------------------*/
/* GRAFIEK */



div.buttoninlog {
    position: relative;
    width: 40%;
    height: 9%;
    left: 30%;
    top: 70%;

    background: #00D084;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}








input[type=submit] {
    position: relative;
    width: 40%;
    /* height: 9%;
    left: 30%;
    top: 70%;  */

    background: #00D084;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20em;
    height: 30em;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 9999;
  }

  /* Styles for the yellow bar */
  .popup .bar {
    background-color: #FFDE8D;
    padding: 1em;
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 1.2vw;
    font-family: monospace;
  }

  /* Styles for the close button */
  .popup .close-button {
    position: absolute;
    top: 1em;
    right: 1em;
    cursor: pointer;
    font-size: 1.2vw;
    
  }

  .vriendentabel {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.4vw;
  }

  .vriend-toevoeg-button{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.vriend-toevoeg-button button {
    margin: 7px 0;
    margin-right: 2em;
    background-color: #F8C232;
    border-radius: 0%;
    border: none;
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: monospace;
    padding: 20px;
    text-decoration: none;
    font-size: 1vmax;
}

.vriend-toevoeg-button button:hover {
    background-color: #e0b231;
}

.sluitknop{
    background-color: #F8C232;
    border-radius: 0%;
    border: none;
    color: black;
    font-size: 16px;
    font-family: monospace;
    padding: 1em;
    text-decoration: none;
    font-size: 1vmax;
}

.search-results {
    margin-top: 10px;
  }
  
  .user-result {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .user-checkbox {
    margin-right: 5px;
  }
  
  .friend-select {
    margin-left: 10px;
  }
  
  #okButton {
    margin-top: 10px;
  }
  
  input[type="checkbox"] {
    display: inline-block;
    width: auto;
    margin: 0;
  }

    .formy {
      max-width: 25em;
      margin: 0 auto;
      text-align: center; /* Add this line to center the content horizontally */
      padding: 2%;
    }
    
    .formy-container {
      max-width: 25em;
      margin: 0 auto;
      align-items: center;
      background-color: #f4f4f4;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 20px;
      padding: 20px;
      height: auto;
    }

    .form-text{
      font-size: 1vmax;
    }
    
    label {
      display: block;
      margin-bottom: 1%;
      font-weight: bold;
      padding: 1;
    }
    
    input {
      width: 80%; /* Change width to 80% */
      margin: 0 auto; /* Add this line to center the input boxes within the form block */
      padding: 10px;
      font-size: 16px;
    }
  
  input[type="submit"] {
    color: white;
    border: none;
    cursor: pointer;
    display: block; /* Add this line */
    margin: 0 auto; /* Add this line */
    margin: auto;
    margin-top: 10px;
  }
  input[type="submit"]:hover {
    background-color: #d4a31a;
  }

  .verbruikTable {
    width: 100%;
    border-collapse: collapse;
  }
  
  .verbruikTable th {
    background-color: #f2f2f2;
    color: #333;
    padding: 8px;
    text-align: left;
  }
  
  .verbruikTable td {
    padding: 8px;
  }
  
  .vrienden-hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
  }

  .verbruikTable tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .verbruikTable tr:hover {
    background-color: #e5e5e5;
  }
  
  .verbruikTable th,
  .verbruikTable td {
    border-bottom: 1px solid #ddd;
  }


  .vriendentabelklein {
    flex: 1;
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
  }
  
  /* top bar */
  .vriendentabelklein th {
    background-color: #f4f4f4;
    color: #333;
    padding: 8px;
    text-align: left;
  }
  
  .vriendentabelklein td {
    padding: 8px;
  }
  
  /* even and odd table colors */
  .vriendentabelklein tr:nth-child(even) {
    background-color: #F8C232;
  }
  
  .vriendentabelklein tr:nth-child(odd) {
    background-color: #f8c332a8;
  }
  
  .vriendentabelklein tr:hover {
    background-color: #f8c3323b;
  }
  
  /* lines between blocks */
  .vriendentabelklein th,
  .vriendentabelklein td {
    border-bottom: 1px solid #f4f4f4;
  }


  .vriendentabel {
    flex: 1;
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
  }
  
  /* top bar */
  .vriendentabel th {
    background-color: #f4f4f4;
    color: #333;
    padding: 8px;
    text-align: left;
  }
  
  .vriendentabel td {
    padding: 8px;
  }
  
  /* even and odd table colors */
  .vriendentabel tr:nth-child(even) {
    background-color: #F8C232;
  }
  
  .vriendentabel tr:nth-child(odd) {
    background-color: #f8c332a8;
  }
  
  .vriendentabel tr:hover {
    background-color: #f8c3323b;
  }
  
  /* lines between blocks */
  .vriendentabel th,
  .vriendentabel td {
    border-bottom: 1px solid #f4f4f4;
  }

  