
.outline_geel_achtergrond {
  position: absolute;
  width: 97%;
  height: 97%;
  left: 1.5%;
  top: 2%;
  right: 2%;
  bottom: 2%;
  background: #F8C232;
  border-radius: 20px;
  font-family: monospace;
  font-weight: 600;
  font-size: 24px;
}

.navbar {
  /* background: gray; */
  margin: 1%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.powerchainger_logo {
  width: 150px; /* Adjust the width as desired */
  height: auto;
  margin-right: 10px;
}

.navlinks {
  display: inline-block;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 24px;
  line-height: 60px; /* Adjust the line-height to match the logo height */
  background: rgb(255, 255, 255);
  /* border-block-color: black; */
  /* border: black; */
  border-radius: 20px;
}

.navrechts {
  display: inline-block;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 24px;
  line-height: 60px; /* Adjust the line-height to match the logo height */
  background: rgb(255, 255, 255);
  border-radius: 20px;
  margin-left: auto;
}

.navlinks a.active {
  background: rgb(26, 24, 24);
  padding: 18px;
  border-radius: 20px;
}

.navlinks a:hover {
  background: rgba(43, 226, 107, 0.8); /* Adjust the opacity (0.8) as desired */
}

.navrechts a.active {
  background: rgb(237, 2, 2);
}

.navrechts a:hover {
  background: rgba(43, 226, 107, 0.8); /* Adjust the opacity (0.8) as desired */
}

.losse_navbutton{
  color: rgb(0, 0, 0);
}


