
.outline_geel_achtergrond {
  position: absolute;
  width: 97%;
  height: 97%;
  left: 1.5%;
  top: 2%;
  right: 2%;
  bottom: 2%;
  background: #F8C232;
  border-radius: 20px;
  font-family: monospace;
  font-weight: 00;
  font-size: 24px;
}

.navbar {
  /* background: gray; */
  margin: 1%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.powerchainger_logo {
  width: 150px; /* Adjust the width as desired */
  height: auto;
  margin-right: 10px;
}

.navlinks {
  display: inline-block;
  padding: 12px;

  text-decoration: none;
  font-size: 24px;
  line-height: 40px; /* Adjust the line-height to match the logo height */
  background: #F4F4F4;
  border-radius: 20px;
  
}

.navrechts {
  display: inline-block;
  padding: 12px;
  text-decoration: none;
  font-size: 24px;
  line-height: 40px; /* Adjust the line-height to match the logo height */
  background: #F4F4F4;
  border-radius: 20px;
  margin-left: auto;
  
}

.navlinks a.active {
  background: #E5E5E5;
  padding-top: 18px;
  padding-bottom: 18px;
  border-radius: 20px;
}

.navlinks a:hover {
  background: #CCCCCC;
  padding-top: 18px;
  padding-bottom: 18px;
  border-radius: 20px; 
}

.navrechts a.active {
  background: #E5E5E5;
  padding-top: 18px;
  padding-bottom: 18px;
  border-radius: 20px;
}

.navrechts a:hover {
  background: #E5E5E5;
  padding-top: 18px;
  padding-bottom: 18px;
  border-radius: 20px; 
}

.losse_navbutton {
  color: #333333;
  display: inline-block;
  border-radius: 20px;
  padding-top: 18px;
  padding-bottom: 18px;
  text-decoration: none;
  padding-left: 9px;
  padding-right: 9px;
  position: relative; /* Required for positioning pseudo-elements */
}

.losse_navbutton:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #000;
}

.losse_navbutton::before {
  left: -5px; /* Adjust the positioning as needed */
}

.losse_navbutton:last-child::before {
  width: 0.5px; /* Adjust the width as needed */
}




@media screen and (max-width: 768px) {
  .navlinks,
  .navrechts {
    font-size: 9px;
    line-height: 20px; /* Adjust the line-height for smaller screens */
    padding: 4px; /* Adjust the padding for smaller screens */
  }
}





.flexboxgroep {
  display: flex;
  flex-wrap: wrap;
}

.bovenblokgroep{
  flex-basis: 86%; /* Set width to 50% for bovenblokgroep and onderblokgroep */
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.onderblokgroep {
  flex-basis: 70%; /* Set width to 50% for bovenblokgroep and onderblokgroep */
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.rechtsblokgroep {
  flex-basis: 10%; /* Set width to 50% for bovenblokgroep and onderblokgroep */
  display: flex;
}



.rechtsblokgroep {
  flex-grow: 1; /* Allow flexbox to grow and fill remaining space */
}

.verbruikperdatum1,
.bespaard1,
.sociaal1
{
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin: 0.5%;
}


.huidigverbruik1,
.ecologischevoetafdruk1,
.tips1 {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin: 0.5%;

}

.verbruikperdatum1 {
  width: 40em;
  height: 20em; 
}

.bespaard1 {
  width: 19.7em;
  height: 10em;
}

.sociaal1 {
  width: 10em;
  height: 31.5em; 
}

.huidigverbruik1 {
  width: 24em;
  height: 16em; 
}

.ecologischevoetafdruk1 {
  flex-basis: 19.7em; 
  height: 10em; 
}

.tips1 {
  flex-basis: 24em; 
  height: 15em; 
  margin-top: -4em;
}

.home {
  text-align: center;
  color: black;
  text-decoration: none;
  font-size: 1.4vmax;
  vertical-align: top; /* Align the text to the top */
}




canvas {
  width: 100%;
  height: 100%;
}


.chart-container {
  flex: 1; /* Use flex: 1 to make chart-container fill remaining space */
  width: 100%;
}
.grafiekblok {
  flex: 1;
  display: flex;
  flex-direction: row; /* Change flex-direction to row */
  align-items: center;
  justify-content: center;
  width: 95%; 
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px; /* Adjust the margin as per your preference */
}

.button-container button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 7px 0;
  margin-right: 2em;
  background-color: #F8C232;
  border-radius: 0%;
  border: none;
  color: black;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-family: monospace;
  padding: 20px;
  text-decoration: none;
  font-size: 1vmax;

}

.button-container button:hover {
  background-color: #e0b231;
}